* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Roboto, sans-serif;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.cabecalho-titulo {
    font-style: italic;
    font-size: 2.5rem;
}

.cabecalho-titulo-span {
    color: #D6000D;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.cabecalho-menu-item {
    font-size: 1.2rem;
    color: #000;
}

.cabecalho-menu-botao-login {
    background-color: #D6000D;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.cabecalho-menu-botao-login:hover {
    cursor: pointer;
}

/* Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 160px;
    margin: 80px 0px;
}

.conteudo-a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-a-imagem {
    height: 350px;
}

.conteudo-a-escrito {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.conteudo-a-escrito-paragrafo {
    font-size: 1.2rem;
    font-weight: 700;
}

.conteudo-a-escrito-titulo {
    font-size: 2.9rem;
    font-weight: 700;
    color: #D6000D;
}

.conteudo-a-escrito-botao {
    background-color: #D6000D;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 270px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.conteudo-a-escrito-botao:hover {
    cursor: pointer;
}

.conteudo-b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content-label {
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px 30px;
  }
  
.check {
    opacity: 0;
    width: 0;
    height: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d6000d;
    border-radius: 50%;
}

.content-label .check:checked ~ .checkmark {
    background-color: #d6000d;
}

.content-label .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-label .check:checked ~ .checkmark:after {
    display: block;
}

.conteudo-b-subtitulo {
    margin-top: 50px;
    margin-bottom: 7px;
    font-weight: 700;
}

.conteudo-b-input {
    background-color: #CCC;
    color: #777;
    border: none;
    width: 180px;
    height: 40px;
    padding: 20px;
    font-size: 1rem;
    border-radius: 10px;
}

.conteudo-b-input:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px rgba(80, 80, 80, 0.5);
}

.conteudo-b-botao {
    background-color: #D6000D;
    color: #FFF;
    border: none;
    width: 180px;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
}

.conteudo-b-botao:hover {
    cursor: pointer;
}

.conteudo-b-imagem {
    height: 430px;
}

.conteudo-c {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.conteudo-c-div {
    background-color: #CCC;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.conteudo-c-div-foto {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #D6000D;
}

.conteudo-c-div-escrito {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conteudo-c-div-escrito-titulo {
    margin-top: 8px;
    font-size: 1.3rem;
    font-weight: 400;
}

/* Rodapé */
.rodape {
    background-color: #000;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rodape-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rodape-titulo {
    font-weight: 700;
    font-size: 2.5rem;
    font-style: italic;
}

.rodape-subtitulo {
    font-weight: 700;
    font-size: 1.3rem;
}

.rodape-div p {
    color: #CCC;
}

.rodape-div-icones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rodape-div-icones svg {
    width: 40px;
    height: 40px;
    padding: 2px;
    background-color: #D6000D;
    border-radius: 7px;
}